append variables
  -
    var featuresnew= [
      {
        icon:`4.png`,
        title:'Trello',
        alt: 'Dashboard',
        details: 'Gestão de atividades estilo Kanbam.'
      },
      {
        icon:`5.png`,
        title:'GitHub',
        alt: 'Comment',
        details: 'Repositório público de armazenamemto.'
      },
      {
        icon:`6.png`,
        title:'Git',
        alt: 'Tailored',
        details: 'Ferramenta de versionamento de códigos e/ou descrições.'
      },
      {
        icon:`7.png`,
        title:'Gulp',
        alt: 'Dashboard',
        details: 'Aplicação que permite a visualização em tempo real do HTML.'
      },
      {
        icon:`8.png`,
        title:'Node.js',
        alt: 'Dashboard',
        details: 'Aplicação base de uma página HTML.'
      },
      {
        icon:`9.png`,
        title:'Browsing Sync',
        alt: 'Dashboard',
        details: 'Alternativa de visualização HTML para aplicações dedicadas fora do browsing.'
      },
      {
        icon:`10.png`,
        title:'Pug.js',
        alt: 'Dashboard',
        details: 'Codificação HTML simplificada com visões e reaproveitamento de códigos'
      },
      {
        icon:`11.png`,
        title:'Miro',
        alt: 'Dashboard',
        details: 'Ferramenta útil para elaborações com multi-usuários, podendo ser utilizadas em brainstormings e mind mappings'
      },
      {
        icon:`12.png`,
        title:'Microsoft Teams',
        alt: 'Dashboard',
        details: 'Aplicação de comunicação entre os desenvolvedores, além de ser uma ferramenta de interação'
      },
      {
        icon:`13.png`,
        title:'npm',
        alt: 'Dashboard',
        details: 'Aplicação responsável pelas instalações'
      },
      {
        icon:`14.png`,
        title:'JIRA',
        alt: 'Dashboard',
        details: 'Alternativa ao Trello, uma gestão de atividades estilo Kanbam.'
      },
      {
        icon:`15.png`,
        title:'Gerrit',
        alt: 'Dashboard',
        details: 'Alternativa ao GitHub para versionamento de código e/ou descrição.'
      }
    ];
mixin NewFeatureItem(item) 
  .col-md-6.col-lg-3.text-center
    img(src=`${CWD}assets/img/icons/${item.icon}` alt=`${item.alt}` style={width:'95px'})
    h4.mt-3.lh-base #{item.title}
    p.fs-0 #{item.details}
        
mixin Features
  +Section#ferramentas
    h1.text-center.display-5.fw-semi-bold(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Ferramentas que auxiliam a Gestão de Configuração
    p.text-center.fs-0.fs-md-1(data-zanim-xs!={delay: 0.5} data-zanim-trigger='scroll')  Com os seguintes ferramentas seremos capazes de acompanhar e monitorar o estado do projeto,
      br.d-none.d-lg-block
      | facilitando novas tomadas de decisão e verificando aquelas que mais impactaram no processo de desenvolvimento.
    .row.mb-4.mt-6
      +NewFeatureItem(featuresnew[0])
      +NewFeatureItem(featuresnew[1]) 
      +NewFeatureItem(featuresnew[2])
      +NewFeatureItem(featuresnew[3])
    .row.mb-6
      +NewFeatureItem(featuresnew[4]) 
      +NewFeatureItem(featuresnew[5])
      +NewFeatureItem(featuresnew[6])
      +NewFeatureItem(featuresnew[7])
    .row.mb-6
      +NewFeatureItem(featuresnew[8]) 
      +NewFeatureItem(featuresnew[9])
      +NewFeatureItem(featuresnew[10])
      +NewFeatureItem(featuresnew[11])
  

