append variables
  -
    var features= [
      {
        icon:`1.png`,
        title:'Trello',
        alt: 'Dashboard',
        details: 'No Trello foram documentadas as informações para acompanhamento das sprints.'
      },
      {
        icon:`2.png`,
        title:'Github',
        alt: 'Comment',
        details: 'No Github foram documentadas as tasks implementadas, com o padrão utilizado nos comentários dos commits do projeto'
      },
      {
        icon:`3.png`,
        title:'Apresentação',
        alt: 'Tailored',
        details: 'Ao final do trabalho, foi elaborada uma apresentação com a síntese dos principais milestones do projeto implementado.'
      }
    ];
    var texting= [
      {
        title: 'Documentação do Projeto',
        alt: 'text',
        details: 'O projeto foi documentado utilizando diferentes ferramentas, conforme a necessidade do registro.'
      }
    ]
mixin FeatureItem(item) 
  .col-md-6
    .w-100.h-100.p-5.services-card-shadow.rounded-4
      img(src=`${CWD}assets/img/icons/${item.icon}` alt=`${item.alt}` style={width:'95px'})
      h3.mt-3.lh-base #{item.title}
      p.mb-0 #{item.details}
mixin Card(text)
  .col-md-6.h-100.text-center.text-md-start.p-0.p-md-5.pb-3
    h2.mt-3 #{text.title}
    p.mb-0 #{text.details}
        
mixin Services
  +Section#documentacao
    .row.mb-4
      +Card(texting[0]) 
      +FeatureItem(features[0]) 
    .row.mb-4
      +FeatureItem(features[1]) 
      +FeatureItem(features[2])


